* {
    box-sizing: border-box;

}

.wrapper{
    background-color: #ccc;
    width: 500px;
    margin: 10px auto;
    padding: 25px;
}

select{
    display: block;
    width: 100%;
    padding: 5px
;
}